<div class="col-md-6">
  <h2>ID: <%= @train.identifier() %></h2>
  <h4>Driver name: <%= @train.driver() %></h4>
  <h4>Number of cars: <%= @train.num_cars() %></h4>
  <br>
  <% if @train.cities().any?() %>
    <h4>The <i><%= @train.identifier() %></i> train stops in these cities:</h4>
      <ul>
        <%@train.cities().each() do |city|%>
          <li><%= city.name()%></li>
        <% end %>
      </ul>
  <% end %>
</div>
<div class="col-md-6">
  <form action="/trains/admin/<%= @train.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <label for="identifier">identifier</label>
      <input class="form-control" type="text" name="identifier">
    </div>
    <div class="form-group">
      <label for="driver">Driver</label>
      <input class="form-control" type="text" name="driver">
    </div>
    <div class="form-group">
      <label for="num_cars">Number of cars</label>
      <input class="form-control" type="number" name="num_cars">
    </div>
    <h4>Cities</i></h4>
    <% @cities.each() do |city| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="city_ids[]" value="<%= city.id() %>"><%= city.name()%>
        </label>
      </div>
    <% end %>
    <div class="btn-group">
      <button class="btn btn-primary" type="submit">Update Train</button>
    </div>
  </form>
  <br>
  <form class="float" action="/trains/admin/<%= @train.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <div class="btn-group float">
      <button class="btn btn-primary" type="submit">Delete Train</button>
    </div>
  </form>
</div>
